*{
    font-family: 'Fredoka', sans-serif;
}

.my-fsize0-8f{
    font-size: 0.8rem;
}

.my-fsize1rem{
    font-size: 1rem;
}

/* padding */

.my-pt4-5f{
    padding-top: 4.5rem;
}

/* navbar */

:root {
    --navbar-height: 4.5rem;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin: 4.5rem;
}

header > nav {
    height: var(--navbar-height);
    background: #2c3e50 ;
}

/* jumbo */

.avatar-img{
    width:14rem;
}

.my-star hr{
    border: 3px solid white;
    width: 6rem;
    opacity: 1;
    border-radius: 25px;
}

/* first section*/

.my-star-db hr{
    border: 3px solid #2c3e50;
    width: 6rem;
    opacity: 1;
    border-radius: 25px; 
}

.star-db{
    color: #2c3e50;
}

.my-card-img{
    width:22rem;
    border-radius: 20px;
}

.img-box{
    padding-top: 2rem;
}

/* background */

.my-bg-cyan{
    background-color: #1abc9c;
}

/*#1abc9c colore jumbo #3a546d footer 1 #2c3e50 footer 2*/

